<section class="contact-page">
	<div class="row">
		<h1>Contact:-</h1>
		<h2>Ankur Singhal</h2>
		<h2>9013467112</h2>
		<ul class="social-links">
			<li><a href="https://www.facebook.com/anksin1994">Facebook</a></li>
			<li><a href="https://www.twitter.com/anksin2013">Twitter</a></li>
		</ul>
	</div>
</section>