<section class="hero">
	<div class="row">
		<div class="small-12 columns hero-heading">
			<h1><span class="orange">United</span><span class="green">India</span></h1>
			<h2>Stand For Your People</h2>
		</div>
	</div>
	<div class="row">
		<div class="hero-link small-12 columns">
			<a href="#">See How It Works</a>
		</div>
	</div>
	<% unless user_signed_in? || mla_signed_in? %>
		<div class="row">
			<div class="hero-button small-12 small-centered columns">
				<%= link_to("Register Now", new_user_registration_path) %>
			</div>
		</div>
	<% end %>
	</div>
</section>


<section class="categories">
	<div class="row">
		<ul class="cats">
			<% @categories.each do |category| %>
				<li class="cat-item"><%= link_to(category.name, category) %></a>
			<% end %>
		</ul>
	</div>
</section>

<%= render "partials/problem" %>