<%= render "partials/problems_table" %>
<div class="row">
	<div class="small-4 small-centered columns center">
		<%= link_to("Create Request", new_request_path, class: "button button-green") %>
	</div>
</div>