<section class="search-results">
	<div class="row">
		<div class="small-12 columns">
			<h1>Search Results for <strong>"<%= @category.name %>"</strong> category:-</h1>
		</div>
	</div>
</section>

<% if @requests.any? %>
	<%= render "partials/problem" %>
<% else %>
	<div class="row">
		<div class="small-12 columns">
			<h2 class="no-results">Sorry there are no problems in the category <strong>"<%= @category.name %>"</strong>!</h2>
		</div>
	</div>
<% end %>